body {
    background-image: url(../image/gory_les_pejzazh_149986_1920x1080.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: #e1af83;
}

*::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background-color: #b8916f;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .25) 25%,
            transparent 25%,
            transparent 50%,
            rgba(121, 74, 74, 0.25) 50%,
            rgba(255, 255, 255, .25) 75%,
            transparent 75%, )
}






















.search-div {
    display: none;
    margin-left: 400px;
    background-color: #fff;
    width: 400px;
    height: 50px;
    background-image: url(../icons/Vector.svg);
    background-repeat: no-repeat;
    background-position: 10px 7px;
    border: none;
    border-radius: 20px;
    margin: 0px a;
    margin-top: 10px;
}

.search-div input {
    border: none;
    height: 50px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.search-div a {
    display: none;
    position: relative;
    top: -80px;
    left: 350px;
}














#choice-1 {
    appearance: none;
    width: 70px;
    height: 70px;
}

.icons {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 30px;
    float: right;
    /* justify-content: end; */
    margin-top: -32px;
    /* margin-left: 1340px; */
}

.icons img {
    width: 35px;
    height: 35px;
}

.header,
footer {
    padding-bottom: 20px;
    margin-left: 20px;
}

footer {
    position: fixed;
    bottom: 0px;
}

header,
footer {
    background: #ad947794;
    margin-left: -7px;
    margin-top: -70px;
    display: grid;
    gap: 110px;
    width: 100%;
    position: fixed;
}

.header_text a,
.footer-text a {
    margin-top: 25px;
    text-decoration: none;
    color: black;
    transition-duration: .4s;
}

#new-add {
    border: 2px solid black;
    color: black;
    transition-duration: .5s;
}

#new-add:hover {
    border: 2px solid white;
    color: white;
}

.header_text a:hover,
.footer-text a:hover {
    border-bottom: solid 6px #786c5e;
}

.header_text img {
    margin-top: 17px;
    width: 35px;
    height: 35px;
}

.img {
    position: relative;
    /* top: -25px; */
}

.header_text .img:hover {
    border-bottom: none;
}

#logo {
    width: 80px;
    height: 70px;
    margin-top: 0px;
}

.header_text,
.search {
    display: grid;
    grid-template-columns: 70px 60px 260px 128px 200px 150px 160px 93px 162px 40px 115px 50px 200px 50px 50px 0px;
    grid-template-rows: 50px 2px;
}

.footer-text {
    display: grid;
    grid-template-columns: 200px 60px 30px 300px 180px 250px 160px 260px 180px 160px 60px;
    grid-template-rows: 50px 0px;
}

.footer-text a {
    position: relative;
    top: -8px;
}




.search {
    display: inline-block;
    position: relative;
    height: 35px;
    width: 35px;
    box-sizing: border-box;
    margin: 17px 8px 7px 120px;
    padding: 7px 9px 0px 9px;
    border: 3px solid black;
    border-radius: 25px;
    transition: all 200ms ease;
    cursor: text;
    background-color: #E6D7C6;
}

.search:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 20px;
    right: -5px;
    top: 21px;
    background: black;
    border-radius: 3px;
    transform: rotate(-45deg);
    transition: all 200ms;
}

.search.active,
.search:hover {
    width: 200px;
    margin-left: 0px;
}

#inpt_search {
    width: 180px;
    border: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 15px;
    color: inherit;
    background: transparent;
    outline-width: 0px;
    color: black;
    display: none;
}

#inpt_search:hover {
    display: block;
}

.overlay {
    position: absolute;
    top: 100px;
    left: -130px;
    transition-duration: 1s;
    background-color: #E6D7C6;
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.overlay-1 {
    position: absolute;
    top: 100px;
    left: -75px;
    transition-duration: 1s;
    background-color: #E6D7C6;
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.overlay-1 button {
    margin-left: 40px;
    width: 180px;
    height: 20px;
    border: none;
    border-radius: 5px;
    background-color: #A0FFBB;
    transition-duration: .4s;
}

.overlay-1 button:hover {
    background-color: #67f48f;
}

.overlay p,
.overlay-1 p {
    font-size: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 270px;
    width: 260px;
    margin-left: 7%;
    background-color: #e6c6a9;
}

a:hover .overlay-1 {
    margin-top: -400px;
    height: 300px;
    width: 300px;
}

a:hover .overlay {
    margin-top: -400px;
    height: 300px;
    width: 300px;
}

.grid-inputs {
    display: none;
}

a:hover .grid-inputs {
    display: grid;
}

#big-input {
    height: 100px;
    border: none;
    border-radius: 0px 0px 5px 5px;
}

#surname {
    border-radius: 5px 5px 0px 0px;
}

.overlay-1 input {
    border: none;
    margin-left: 3px;
    width: 240px;
    height: 30px;
}



#grid-add {
    display: grid;
    grid-template-columns: 15px 15px 15px 15px 15px 15px 15px;
    grid-template-rows: 1fr;
    gap: 5px;
    width: 850px;
    height: 230px;
    border-radius: 5px;

    margin-top: 30px;
    margin-left: 20px;
    background-color: grey;
}

#grid-add input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid black;
    transition-duration: .5s;
    margin-left: 360px;
    margin-top: 210px;
}

#imagetest {
    height: 230px;
    border-radius: 5px;
    width: 850px;
}

#grid-add input:checked {
    border: 5px solid white;
}


main {
    margin-top: 70px;
}


#container-main-upp {
    display: grid;
    grid-template-columns: 900px 900px;
}

#container_main {
    background: rgba(245, 255, 254, 0.31);
    margin-top: 30px;
    margin-left: 20px;
    padding-top: 30px;
    height: 200px;
    width: 900px;
    border-radius: 5px;
}

.container_prof a {
    margin-left: 10px;
}

.container_country a {
    margin-top: 0px;
    margin-left: 10px;
}

.title-prof {
    font-size: 20px;
    width: 250px;
    margin-top: -20px;
    margin-left: 10px;
}

.title-coun {
    font-size: 20px;
    width: 250px;
    margin-top: -5px;
    margin-left: 10px;
}

.container_prof a,
.container_country a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    background: #E6D7C6;
    width: 105px;
    height: 35px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.5s;
}

#most-popular {
    width: 150px;
}

.grid-prof {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
}

.grid-coun {
    display: grid;
    grid-template-columns: 130px 130px 130px 130px 130px 130px;
    grid-template-rows: 40px;
}

.container_prof a:hover,
.container_country a:hover {
    background: #b69f87;
}




.container-announcement {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1500px;
}

.announcement img {
    /* position: relative; */
    /* top: 20px; */
    vertical-align: middle;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    width: 110px;
    /* z-index: 0; */
}

.location{
    margin-bottom:-40px;
}

.announcement {
    background-color: rgba(204, 204, 204, 0.69);

    border-radius: 5px;
    width: 90%;
    height: 140px;

    margin-top: 20px;
    margin-left: 20px;

    display: grid;
    grid-template-columns: 140px 630px 520px 520px 320px;
    grid-template-rows: 1fr 1fr;

    /* z-index: -1; */
}

.frame {
    display: grid;
    grid-template-columns: 560px 30px 120px 30px 720px;
    grid-template-rows: 90px;
}

.right-side-announcement {
    position: absolute;
    right: 13%;
    /* top: 0px; */
}

.right-side-announcement p,
.right-side-announcement a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.opis img {
    margin-top: -45px;
    margin-left: 0;
    width: 15px;
    height: 15px;
}

.opis {
    text-decoration: none;
    color: black;
    width: 330px;
    font-size: 22px;
}

.time {
    width: 150px;
    grid-column: 1;
    grid-row: 2;
    font-size: 23px;
    color: rgb(68, 66, 66);
}

.zp {
    /* width: 270px; */
    text-align: end;
    font-size: 23px;
}

.feedback {

    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    border: 1px solid black;
    background: #E6D7C6;
    width: 255px;
    height: 25px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.5s;
    /* margin-top: 100px; */

}

.feedback:hover {
    background: #b9ab9c;
}

.buttons-navigation {
    display: flex;
    gap: 20px;
    margin-left: 40%;
    margin-top: 70px;

}

.buttons-navigation button {
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 20%;
    transition-duration: .5s;
}

.buttons-navigation button:hover {
    background-color: rgb(173, 148, 119);
}













.owl-carousel img {
    width: 300px;
    height: 230px;
}

.owl-carousel{
    margin-top: 30px;
    height: 200px;
}

#check-box{
    display: none;
}


.closeAnimateDiv{
    animation-name: closeAnimateDiv;
    animation: closeAnimateDiv .3s;    
}
.openAnimateDiv{
    animation-name: openAnimateDiv;
    animation: openAnimateDiv .3s;
 }

@keyframes openAnimateDiv {
    0%{
        opacity: 0;
        display: none;
    }
    50%{
        display: block;
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes closeAnimateDiv {
    0% {
        opacity: 1;
        display: block;
    }
    50% {
        display: none;
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        display: block;
    }
}


.container-check-box {
    position: fixed;
    left: 0px;
    width: 720px;
    height: 100%;
    background: rgba(204, 204, 204, 0.85);
    margin-top: 70px;
    z-index: 999;
    display: none;
}

.popup-wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;
    width: 400px;
    height: 200px;
}
.popup-inner{
    padding-left: 40px;
    padding-top: 50px;
    display: flex;
    gap: 30px;
}
.popup-close{
    font-size: 30px;
    position:absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
}
.checkbox-popup-container{
    display: flex;
    /* white-space: nowrap; */
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.active{
    display: none;
}

@media screen and (max-width:1024px) {

    .header_text a,
    #heart {
        display: none;
    }

    .icons {
        display: grid;
    }

    #check-box {
        display: grid;
    }

    .container-check-box a {
        display: grid;
        color: black;
        text-decoration: none;
        font-size: 30px;
    }

    #check-box img {
        width: 40px;
        height: 40px;
    }

    #language-icon {
        display: flex;
        justify-content: end;
        position: absolute;
        bottom: 150px;
        right: 0px;

    }

    .search-div {
        display: block;
    }

    .search-div a {
        display: block;
    }

    .search {
        display: none;
    }

    .announcement {
        width: 100%;
        grid-template-columns: 140px 0px 520px 520px 320px;

    }

    .feedback {
        margin-left: 460px;
    }

    .frame {
        grid-template-columns: 80px 30px 120px 90px 320px;
    }
    .right-side-announcement{
        margin-right: -90px;
    }
}

@media screen and (max-width:768px) {
    .search-div {
        margin-left: 80px;
    }
}
