body{
    background-color: rgb(1,158,158);
}
header{
    position: fixed;
    background-color: rgb(0,139,139);
    width: 103%;
    height: 50px;
    color: white;
    margin-top: -65px;
    margin-left: -15px;
}
h4{
    margin-left: 20px;
    font-size: 20px;
}
.text-header{
    margin-left: 20px;
}
.mainmain-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 60px;
}
.to-do-container, .container-test, .container-fix, .container-done{
    background-color: rgb(220,220,220);
    width: 480px;
    height: 630px;
    border-radius: 10px;
}
.container-in-prog{
    background-color: rgb(220,220,220);
    width: 480px;
    height: 630px;
    overflow: scroll;
    border-radius: 10px;
}
.to-do-container span, .container-fix span, .container-done span{
    margin-top: 30px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 40px 20px 30px 20px 30px 20px 120px 1fr;
}
.first-place{
    background-color: rgb(245,245,245);
    width: 420px;
    height: 150px;
    position: relative;
    top: 30px;
    left: 15px;
    border-radius: 10px;
}
#avatar{
    margin-top:-20px ;
    grid-column: 8;
}
.text{
    position: relative;
    display: flex;
    right: -8px;
    bottom: -20px;
    font-size: 21px;
}
.grid p{
   font-size: 20px;
   margin-top: 5px;
}
.grid{
    margin-top: 50px;
    margin-left: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 40px 20px 30px 20px 30px 20px 120px 1fr;
}