.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button{
  background-color: green;
  height: 100px;
  width: 200px;
  border-radius: 25px;
  transition-duration: .5s;
  color: white;
}
.button:hover{
  background-color: rgb(12, 68, 12);
  color: grey;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-magic-ball{
  margin: 320px auto;
  background-color: rgb(230, 228, 228);
  display: flex;
  border-radius: 20px;
  width: 500px; height: 130px;
}
.button-Magic{
  border-radius: 20px;
  width: 200px;
  font-size: large;
  height: 60px;
  transition-duration: .5s;
  border: none;
  background-color: rgb(209, 194, 194);
}
.button-Magic:hover{
  color:white;
  background-color: rgb(168, 216, 168);
  scale: 1.1;
}
.output-magic{
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 200px;
  color: white;
  margin: 0 auto;
  margin-top: 220px;
  font-size: large;
}

.container-image-magic-ball{
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column-reverse;
  gap: 100px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-image:url(../src/homework/magic-ball-img-two-removebg-preview.png);
}