.container-movies-api{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.movie-logo {
    width: 200px;
}
.links-movie{
    background-color: rgb(146, 153, 179);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}