
p{
    border: solid 2px rgb(204, 203, 203);
    border-radius: 20px;
    padding-block-end: 150px;
    margin-right:700px;
    margin-left: 60px;
}
.one{
    background-image: url(image/Food_C247-128.png);
    background-repeat: no-repeat;
    padding-right: 90px;
}
.two{
    background-image: url(image/Food_C240-128.png);
    background-repeat: no-repeat;
    margin-top: -188px;
    margin-right: 530px;
    margin-left: 230px;
    list-
}