html{
    background-image: url(image/image\ 8.png);
    background-size: 102%;
    background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#header{
    padding-bottom: 20px;
    margin-left: 20px;
    text-align: center;
}
a{
    text-align: center;
}
.text_header{
    display: flex;
    gap: 25px;
    /* border-bottom: solid 2px red; */
    width: 168px;
    height: 30px;
    transition-duration: 0.4s;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    font-family: Arial,Helvetica,sans-serif;
    border-radius: 3px;
    text-align: center;
}
.text_header1{
    display: flex;
    gap: 25px;
    /* border-bottom: solid 2px red; */
    width: 168px;
    height: 30px;
    transition-duration: 0.4s;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-left: -100px;
    font-family: Arial,Helvetica,sans-serif;
    border-radius: 3px;
    text-align: center;
}
.text_header:hover{
    border-bottom: solid 6px #786c5e;
}
#header_text{
    display: flex;
    gap: 70px;
}
p{
    width: 150px;
}
header{
    background:#ad947794;
    margin-left: -7px;
    margin-top: -7px;
    display: flex;
    gap: 110px;
    width: 100%;
}
#about{
    margin-left: 100px;
}
#new:hover{
    border: 1px solid white;
    color: white;
}
h5{
    margin-top: -20px;
    margin-left: 30px;
    width: 80px;
}
.title{
    margin-top: -10px;
    color: rgb(0, 0, 0);
    background-color: rgba(183, 180, 180, 0);
}
#all_prof{
    color: blue;
    margin-top: -40px;
    margin-left: 0px;
}
#container_main{
    background: rgba(245, 255, 254, 0.31);
    margin-top: 50px;
    padding-top: 30px;
    height: 200px;
    width: 800px;
    border-radius: 10px;
}
#container_prof{
    display: flex;
    gap: 15px;
    position: relative;
    top: -20px;
}
#container_country{
    display: flex;
    gap: 15px;
    margin-top: -20px;
}
.border_container{
    border: 1px solid black;
    background:#E6D7C6;
    width: 105px;
    height: 35px;
    text-align:center;
    border-radius: 5px;
    font-family: Arial,Helvetica,sans-serif;
    transition-duration: 0.5s;
}
.border_container:hover{
    background:#b69f87;
}