.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;
    max-width: 100%;
    height: auto;
}

.devices__item--iphone {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}